
.header
    .home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
        a.pure-menu-heading(href="/") Your Site
        ul.pure-menu-list
            li.pure-menu-item.pure-menu-selected
                a.pure-menu-link(href="/users") The Band
            li.pure-menu-item
                a.pure-menu-link(href="/shows") Tour
            li.pure-menu-item
                a.pure-menu-link(href="#") Sign Up