extends layout

block content
  .splash-container
    .splash
      h1.splash-head Big Bold Text
      p.splash-subhead
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      p
        a.pure-button.pure-button-primary(href="http://purecss.io") Get Started
  include ./partials/first-section.jade


