doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="A layout example that shows off a responsive product landing page.")
        title Landing Page &#8211; Layout Examples &#8211; Pure
        link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")



        //if lte IE 8
          link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css")
        // [if gt IE 8] <!
        link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css")
        // <![endif]
        link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
        //if lte IE 8
          link(rel="stylesheet", href="css/layouts/marketing-old-ie.css")
        // [if gt IE 8] <!
        link(rel="stylesheet", href="/css/marketing.css")
        // <![endif]
        link(rel="stylesheet", href="styleSheets/style.css")
    body
      .header
        .home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
            a.pure-menu-heading(href="/") The Grind 
            ul.pure-menu-list
                li.pure-menu-item
                    a.pure-menu-link(href="the-band", class=(title == 'The band' ? 'active-link': '')) The band
                li.pure-menu-item
                    a.pure-menu-link(href="/shows") Shows
                li.pure-menu-item
                    a.pure-menu-link(href="/follow") Follow
                  
    block content
    
    .footer
      small The Grindslc.com (c) 2015
