.footer {
  background-color:#cdcdcd;
  height: 100px;
  width:100%;
  /*width: 1000px;*/
  text-align: center;
  position: absolute;
  bottom:0;
}

.active-link {
  color:red;
}

.wrapper {
  margin: 100px auto;
  width: 1000px;
}

.third-section {
  padding-bottom: 50  px;
  margin-bottom: 50px;
}

.404-img {
  clear: both;
}
